body {
  background-color: #ecf0f1;
  background-image: url('../assets/background.png');
}
.body {
  padding: 2%;
  margin: auto auto;
}
.inset-text {
  color: grey;
  text-shadow: 1px 2px 1px white;
}
.jumbotron {
  background-image: url('../assets/header-background.jpg');
  background-size: 100% 100%;

}

.hit {
  cursor: pointer;
}
ul {
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
}

.pic {
  width: 35%;
  margin-bottom: 3%;
  opacity: 0.8;
}

.card {
  background-color: white;
  box-shadow: -1px 1px 3px 1px lightgrey;
  padding: 2%;
  margin-bottom: 1%;
  text-align: center;
  border-radius: 3px;
}

.loop {
  color: #0ACDC7;
}
