<div class='body container'>

  <div ng-repeat='header in headers | filter:lookUp' class='slide-top'>
    <card title='{{ header.header }}' >
      <h3 ng-if='header.yes'>{{ header.yes }}</h3>
    </card>
  </div>

  <!-- <card title='Scott Moss'>
    <row width='col-xs-4 col-md-offset-4'>
      <h3 class="inset-text">
        Full Stack Engineer
      </h3>
    </row>
  </card>

  <card title="Contact Me">
    <row width='co-xs-12'>
      <ul ng-repeat='contact in contacts'>
        <li>
          <a ng-href="{{ contact.url }}">
            <img src="{{ contact.img }}">
          </a>
        </li>
      </ul>
    </row>
  </card>

  <card title='Recent Projects'>
    <row width='col-xs-12'>

    </row>
  </card> -->
</div>