light-grey      = #ecf0f1
navy            = #34495e
softBlue        = #2980b9
teal            = #0ACDC7
backGroundUrl   = '../../assets/background.png'
googleHeaderUrl = '../../assets/header-background.jpg'


body
  background-color light-grey
  background-img url(backGroundUrl)

.search-me
  margin-top 1%
  height 40px
  font-size: 0.9em

.inset-text
  color grey
  text-shadow 1px 2px 1px white

.jumbotron
  background-imgage url(googleHeaderUrl)
  background-size 100% 100%
  height 230px
  padding-top 10px
  text-align center

.jumbo-intro
  color navy
  text-shadow 1px 2px 1px lightgrey

.hit
  cursor pointer

.ul
  list-style none
  text-align center

  li
    diplay inline-block

.pic
  width 20%

.card
  background-color white
  box-shadow -1px 1px 3px 1px lightgrey
  padding 2%
  margin-bottom 1%
  text-align center
  border-radius 3px
  color softBlue

.loop
  color teal
